<!DOCTYPE html>
<html>
<head>
    <title>Receita: {{ receita.titulo }}</title>
</head>
<body>
    <h1>{{ receita.titulo }}</h1>
    <p>Uma deliciosa receita enviada da nossa Plataforma!</p>
    <p><strong>Enviada por:</strong> {{ current_user.chef.nome }}</p>
    <hr>
    <h3>Ingredientes:</h3>
    <ul>
        {% for assoc in receita.ingredientes_associados %}
            <li>{{ assoc.ingrediente.nome|capitalize }}: {{ assoc.quantidade }}</li>
        {% endfor %}
    </ul>
    <h3>Instruções:</h3>
    <p>{{ receita.instrucoes|replace('\n', '<br>')|safe }}</p>
</body>
</html>
