{% extends 'base.html' %}
{% block content %}
    <h1>Todas as Receitas</h1>
    <div class="card-grid">
        {% for receita in receitas %}
            <div class="card">
                <a href="{{ url_for('detalhes_receita', receita_id=receita.id) }}"><h2>{{ receita.titulo }}</h2></a>
                <p>Por: <a href="{{ url_for('detalhes_chef', chef_id=receita.chef.id) }}">{{ receita.chef.nome }}</a></p>
                <div class="categorias">
                    {% for cat in receita.categorias %}
                        <a href="{{ url_for('receitas_por_categoria', categoria_id=cat.id) }}" class="tag">{{ cat.nome }}</a>
                    {% endfor %}
                </div>
                <h4>Ingredientes:</h4>
                <ul>
                    {% for assoc in receita.ingredientes_associados %}
                        <li>
                            <span>{{ assoc.ingrediente.nome|capitalize }}</span>
                            <span>{{ assoc.quantidade }}</span>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>
{% endblock %}