{% extends 'base.html' %}

{% block content %}
    <h1 class="mb-4">Adicionar Novo Usuário</h1>
    <form method="POST">
        <div class="mb-3">
            <label for="nome" class="form-label">Nome</label>
            <input type="text" class="form-control" id="nome" name="nome" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <button type="submit" class="btn btn-success">Salvar</button>
        <a href="{{ url_for('index') }}" class="btn btn-secondary">Cancelar</a>
    </form>
{% endblock %}